/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2016, 2:34:32 PM
    Author     : Bokac
*/

.breadcrumbs .folderName.back-btn {
    cursor: pointer;
}
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 100ms;	
	-webkit-animation-duration: 100ms;

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}